/* site.css
Preston Spatz
March 30, 2021
Make the index page look cooler*/
.chart {
	height: 75px;
	width: 200px;
	text-align: center;
	background-color: cyan;
	
}
body {
	text-align: center;
}
.button {
	width: 300px;
	height: 30px;
<<<<<<< HEAD
	color: blue;
	font-size: 18px;
	background-color: cyan;
	border: solid;
	border-width: 5px;
	border-color: black;
}
.title {
	font-size: 100px;
	color: cyan;
}
body {
	background-color: blue;
}
.Christmas {
	font-size: 35px;
	color: cyan;
}
img {
	width: 300px;
}
.right {
	float: right;
}
.left {
	float:left;
=======
>>>>>>> 7de21b62b4448260cd56c7c9a08a5bec150ffc80
}